ion-header {
  ion-toolbar {
    text-align: center;
    --background: #3880ff;
    color: #fff;
  }
}

.wrapper {
  height: 100%;
  background-color: #f5f5f5;
}

.body {
  width: 100%;
  max-width: 680px;
  margin: auto;
  padding: 15px;
  background-color: #f5f5f5;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}
