ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.wrapper {
  display: flex;
  height: 100%;
  background-color: #f5f5f5;
}

ion-card.seccion-usuarios2{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 15px;
}

ion-card-title {
  text-align: center;
  margin-bottom: 10px;
}

img.logo {
  height: 30px;
  margin-top: 1%;
}

img.perfil{
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  position: relative;
}

ion-toggle{
  align-items: left;
  justify-content: left;
}

strong.nombre-perfil {
  text-align: center;
}

ion-col{
  justify-content: center;
}

ion.col.spam.notificacion{
  display: block;
  width: auto;
  float: right;
  background-color: #4981D5;
  color: #fff;
  padding: 0 8px;
  border-radius: 8px;
  vertical-align: center;
}

ion.grid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.card-content-md {
  padding-top: 0px;
  padding-bottom: 0px;
}
