<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom">
      Chat con Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat con Ionic</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--<div id="container">
    <strong>Nombre del ...</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->

  <div class="wrapper">
    <div class="body">
      <img class="logo" src="../../../assets/img/login.png" alt="">
      <h1>Registro</h1>
      <form [formGroup]="informacionBasica" (ngSubmit)="submitForm(informacionBasica.value)">

        <ion-item class="custom">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="name" formControlName="nombre" ></ion-input>
          <ion-note slot="helper">Ingrsa tu nombre</ion-note>
        </ion-item>

        <ion-item class="custom">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="name" formControlName="apellido" ></ion-input>
          <ion-note slot="helper">Ingresa tu apellido</ion-note>
        </ion-item>

        <ion-item class="custom">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
          <!--<ion-note slot="helper">Ingresa un email válido</ion-note>
          <ion-note slot="error">Correo invalido</ion-note>-->
        </ion-item>

        <ion-item class="custom">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <!--<ion-note slot="helper">Ingresa tu contraseña</ion-note>
          <ion-note slot="error">Invalid email</ion-note>-->
        </ion-item>

        <ion-button type="submit" expand="block" size="large">Registrarse</ion-button>

        <p class="mt-3"> ¿Ya tienes cuenta? <a routerLink="/login">Login</a></p>

      </form>
    </div>
    <!--<app-spinner *ngIf="loading"></app-spinner>-->
  </div>

</ion-content>
